DATABASE_URL="postgresql://USER:PASSWORD@YOUR-POOLER-HOST.neon.tech/elignite?sslmode=require&channel_binding=require"
DIRECT_DATABASE_URL="postgresql://USER:PASSWORD@YOUR-DIRECT-HOST.neon.tech/elignite?sslmode=require&channel_binding=require"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SESSION_SECRET="replace-with-a-long-random-production-secret-at-least-32-characters"
